---
title: Contact - Magicians &amp; Looters
---

<div class="head">
  <div class="head-contact"></div>
</div>

<div id="contact-container">
{{#each dev in model}}
  <div class="contact-block">
    {{#with dev}}
    <div class="contact-{{unbound name}}"></div>
    <div class="contact-info-container">
      <div class="contact-{{unbound name}}-name"></div>
      <div class="contact-types">
      {{#if type1}}<a {{bind-attr class=type1 title=type1}} {{action "clickContactIcon" dev type1 url1}}></a>{{/if}}
      {{#if type2}}<a {{bind-attr class=type2 title=type2}} {{action "clickContactIcon" dev type2 url2}}></a>{{/if}}
      </div>
    </div>
    {{/with}}
  </div>
{{/each}}
</div>