---
title: Magicians &amp; Looters
---

<div>
  <div id="mal-logo"></div>
  <div id="morg-minion"></div>
</div>
<div class="mal-container">
  <div id="steam">
    <iframe src="http://store.steampowered.com/widget/284180/39244/" frameborder="0" width="646" height="190"></iframe>
  </div>
  <div id="video">
    <iframe width="640" height="360" src="http://www.youtube.com/embed/FHQ84QGzefw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div id="other">
    <div id="title">Also available on Desura and IndieGameStand</div>
    <div class="button">
      <a href="http://www.desura.com/games/magicians-and-looters"
        title="Desura" target="_blank">
        <img src="http://button.desura.com/play/medium/games/17977.png" alt="Desura"></img>
      </a>
    </div>
    <div class="button">
      <iframe src="https://indiegamestand.com/store/widgets/storeButton.php?gid=729&dark"
        allowtransparency="true"
        style="border: 0; padding: 0; margin: 0; width: 267px; height: 58px;">
      </iframe>
    </div>
  </div>
</div>