---
title: Music - Magicians &amp; Looters
---
<div class="head">
  <div class="head-music"></div>
</div>

<div class="loading" style="display:none"></div>
<iframe id="bandcamp" style="display:none"></iframe>

<script type="text/javascript">
  $(document).ready(function() {
    $('div.loading').show();
    $('iframe#bandcamp')
      .load(function () {
        $('div.loading').hide();
        $('iframe#bandcamp').show();
      })
      .attr('src', "<%= config[:url_bandcamp] %>");
  });
</script>